

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bgimg {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

.txtcard {
    color: white;
    text-align: center;
}

.butt {
    background-image: linear-gradient(#d0b200, #a58d00);
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 150px;

    border-color: orange;
}

.butt2 {
    background-image: linear-gradient(#d0b200, #a58d00);
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    background: transparent;
    border-color: orange;
}

.nav {
    height: 100px;
}

.hotel {
    margin: 30px;
}

.logo {
    height: 75px;
    margin: 10px;
    margin-left: 20px;
}

.con {
    text-align: end;
    width: 79vw;
    margin: 30px;
    text-decoration: underline;
}


.heading {
    margin: 20px;
}

.card {
    background-color: white;
    height: 300px;
    width: 257px;
    border-radius: 35px;
    text-align: center;
    text-decoration: underline;
    margin: 20px;
    border:2px solid black;
    box-shadow: 0 4px 8px black;
    transition: 2s;
}


.imgg {
    height: 200px;
    width: 200px;
    padding: 30px;
    border-radius: 20px;


}
.card:hover{
    box-shadow: 0 8px 16px goldenrod;
}
.butt {
    background-image: linear-gradient(#d0b200, #a58d00);
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    margin: 10px;
    border-color: orange;
}




.dv{
   margin:100px;
    color:white;
}

.con:hover{
    width: 100px;
}

.con{
    transition: width 2s ease-in;
}
